*{
    margin: 0;
    padding:0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.status{
   width: 400px;
   text-align: center;
   border-radius: 8px;
   overflow: hidden;
}

.statushead {
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: white;
    background:rgb(44, 74, 138);
}

.statushead h1 {
    font-size: 2em;
    font-weight: bold;
}
.statushead h2{
    font-size: 15px;
}

.photo{
    border-radius: 50%;
    width: 150px;
    height : auto;
    margin: 0 auto;
}

.statusbod {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 50px;
    padding-top:4px;
    position: relative;
    align-items:center;
    justify-content: center;
    color: rgba(59, 58, 58);
}


.statusbod ul {
    display: flex;
    justify-content: space-between;
}